<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azvk.nationalhockeyteams">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustUnspecified"
            android:theme="@style/MyMaterialThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegistrationActivity"
            android:parentActivityName=".activities.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:label="@string/registration_activity_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>
    </application>
</manifest>